#set($blocked = { "userId" : "$ctx.args.id", "blockedUserId": "$ctx.args.target" })


{
    "version" : "2018-05-29",
    "operation" : "PutItem",

     "key" : {
        "userId" : $util.dynamodb.toDynamoDBJson($ctx.args.id),
        "blockedUserId": $util.dynamodb.toDynamoDBJson($ctx.args.target)
    },

    "attributeValues" : $util.dynamodb.toMapValuesJson($blocked )
   
}