#set($id = $util.autoId())

{
    "version" : "2018-05-29",

    "operation" : "PutItem",

    "key" : {
        "id" : $util.dynamodb.toDynamoDBJson($id),
        "creatorId": $util.dynamodb.toDynamoDBJson($ctx.args.input.creatorId)
    },

    "attributeValues" : $util.dynamodb.toMapValuesJson($ctx.args.input)
}