#if($ctx.error)
    $util.error("Unable to retrieve blocked status: ${ctx.error.message}", $ctx.error.type)
#end

## if the caller has been blocked
#if($ctx.result)
    $util.unauthorized()
#end

$util.toJson($ctx.prev.result)